html {
   min-height: 100%;
   background: linear-gradient(135deg, #ff530954 10%, #ffffff 10%, #ffffff 40%, #ff530954  40%);
  /* Start #5cbcb0 from 0 and end at 5%, Start #fff at 5% and end at 15%, Start #5cbcb0 again at 15% and end at 100% */
   background-size: cover;
   background-repeat: no-repeat; 
}
 

body {
    background: url(colorPaletteSquares.jpg) no-repeat center center fixed; 
    background-size: 50% 100%;
    /*font-family: 'Orbitron', sans-serif;*/
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    letter-spacing: 0.2em;
    top: 15%; 
}

.bg-light {
    background: #c6c6c6b8 !important;
    box-shadow: 3px 3px 20px  grey;
    align-items: left;
}

.nav-item {
    color: #000000;
    margin-left: 12px;
    font-size: 1em;
    font-weight: 700;
    text-decoration: underline;
}

.nav-item:hover {
    color: black !important;
}


.jumbotron {
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
    background: linear-gradient(to right bottom, #ffffffb3, #ffffffcc);
    box-shadow: 15px 15px 15px #2f2f2f;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.6em;
    margin-top: 6em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 10em;
}

.carousel-item {
    height: 500px;
    object-fit: contain;
    align-content: center;
}

.title {
    font-size: 3em;
}

hr.division {
   border-top: 1px solid #000000;
   width: 150px;
}


.btn-link {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #ff5309 ;
    color: black;
    border-radius: 200px;
    border-color: black;
    transition: all .5s;
}

.btn-link:hover {
   color: black;
   transform: scale(1, 1.1);
   background-color: #ff5309 ;
   border-color: black;
}

.btn-link:focus {
   outline: none !important;
   box-shadow: none !important;
   color: black;
   background-color: grey;
   border-color: black;
}

hr.division2 {
   border-top: 1px solid #000000;
   width: 150px;
    
}


hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-left: 2.5em;
    margin-right: 2.5em;
}


.card2 {
   background-color: #ffffffcc;
    border-radius: 10px;
    margin-left: 3.5em;
    margin-top: 5em;
    margin-bottom: 12em;
    text-align: left;
}

.card3 {
    background-color: #ffffffcc;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 3.5em;
    margin-top: 5em;
    margin-bottom: 12em;
    text-align: left;
}

.card {
    background-color: #ffffffcc;
    border-radius: 10px;
    margin-left: 3.5em;
    margin-top: 5em;
    margin-bottom: 12em;
    text-align: left;
}

.card-link {
    text-decoration: underline;
}

.mb-2 {
    font-size: 1.5em;
    text-decoration: underline;
}

.card-body {
    box-shadow: 15px 15px 15px #2f2f2f;
    text-align: left;

}

li {
    text-decoration: underline;
    font-weight: 900;
}

.footer {
   height: 7em;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #c6c6c6b8 ;
   color: black;
   text-align: center;
}

.footer1 {
    margin-top: 2em;
}




