body {
    font-family: 'Orbitron', sans-serif;
    color: rgba(0,0,0,5);
    text-align: center;
    letter-spacing: 0.2em;
    top: 15%;
    background: linear-gradient(to right, #000000, #d6e6fc);
    text-shadow: 1px 1px 1px white;
}
.navbar {
    background-color: #000000 !important;
}

.nav-link {
    color: #4d4d4d !important;
    text-shadow: .5px .5px .5px white;
    font-size: 1.1em;
    font-weight: bolder;
}
.container {
    display: grid;
    background-color: #4d4d4d00;
    box-shadow: 9px 9px 9px #000000;
    font-size: 900 2.8em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.6em;
    margin-top: 1.4em;
    transition: all 1s;
}

.container:hover{
 transform: scale(1, 1.1);
}

.gradiency {
    font-size: 1.2em;
    margin-top: 1.2em;
    margin-bottom: .6em;
}

/*hr {
    border-style: solid;
    background-color: black;
    margin-bottom: 2em;
    width: 300px;
    box-shadow: 1px 1px 1px white;
}*/

.color1, .color2 {
    margin-top: 2em;
    align-content: center;
}

.top {
    margin-top: .6em;
    margin-bottom: 1.2em;
    font-size: 1.3em;
}


.bottom {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
    font-size: 1.1em;
}

.outputs {
    border-top: 3em;
}

h2 {
    font-size: 1.8em;
    color: rgba(0,0,0,5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: none;
}

h3 {
    color: rgba(0,0,0,5);
    text-align: center;
    text-transform: none;
    letter-spacing: none;
}